*{
margin: 1px;
padding: 0px;
}


body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: #926239;

line-height: 1.7;
width:70;
background-color: aqua
}

#coast{
background-image: url('/img/coast.jpg');
background-size:cover;
background-position:center;
text-shadow: 2px 2px blue;
height:100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 20px;

}
#coast4{
    height: 65vh;
    width: 100%;
}
#coast .button{


font-size:20px;
text-decoration:none;
border:rgb(139, 79, 18) 1px solid;
padding: 10px 20px;
border-radius: 10px;
margin-top: 20px;

}
img{
    width: 250px;
    height: 200px;
    float:left;
    margin-right: 10px;
    
}


#coast h1{
    font-size:40px;
}
#coast h2{
    color:rgb(139, 79, 18);
    font-size: 40px;
}
#section-a{
    width: 50%;
    float: left;
    
}
#section-s{
    width: 46%;
    float: left;
    color: black;
    
}
#section-a strong{
        color:blue;
}

#coast .button:hover{

background: white;
color:red;
}
#section-a, #section-s {
padding: 12px;
 
}
#section-a {
    background-color:rgb(139, 79, 18);
    color:white;
}

#gold {
font-size: 20pt;
}